body {
    background-color: aqua;
    margin: 0;
}


.num {
    width: 35px;
    height: 35px;
    background-color: blue;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 26px;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.header {
  display: flex;
    
}

.image {
    
    width: 50px;
    border-radius: 50px;
}
.para {
    margin-left: 80px;
    margin-top: -70px;
}


.unread p:first-of-type::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: red;
    display: inline-block;
    border-radius: 50%;
}
.read {
    margin: 30px;
}

#salah-post {
    margin-left: 80px;
    background-color: cornflowerblue;
    padding: 10px;
}
.timer {
     margin-top: 5px;
}

#mark {
    
    margin-top: 30px;
    margin-left: 220px;
    cursor: pointer;
}
#mark:hover {
    color: blue;
}

.notif {
    margin-left: 30px;
}
.container {
    position: relative;
    justify-content: center;
    align-items: center;
    height: 120vh;
    width: 50%;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 25%;
    margin-top: 40px;
    background-color: whitesmoke;
}

#ronal {
    margin-left: 390px;
    margin-top: -20px;
    cursor: pointer;
}
#bobby {
    margin-top: -20px;
}

.name:hover {
    cursor: pointer;
    color: blue;}
.strong:hover {
    color: blue;
    cursor: pointer;
}

#bobby-para {
    margin-top: 20px;
}

.unread {
    background-color: aliceblue;
    padding: 10px;
    margin: 30px;
    cursor: pointer;
    position: relative;
}

@media screen and (max-width: 600px) {
    .container {
        height: 100%;
        width: 100%;
    }
    .header {
        flex-direction: column;
    }
    #mark {
        margin-left: 20px;
    }
}

